.main-news {
  padding-top: 60px;
  padding-bottom: 60px;

  &__top {
    margin-bottom: 40px;
  }

  &__link {
    display: inline-block;
    font-weight: 700;
    color: var(--gray);
    text-decoration-color: var(--accent);
    text-decoration-thickness: 2px;
    margin-bottom: 30px;
  }

  &__list {
    display: grid;
    row-gap: 10px;
  }

  @include media-min ($md) {
    padding-top: 80px;
    padding-bottom: 80px;

    &__top {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }

    &__link {
      margin-bottom: 0;
    }

    &__list {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }

    &__item {
      &:first-of-type {
        min-height: 420px;
        grid-column: span 2;
      }
    }
  }

  @include media-min ($xl) {
    padding-top: 100px;
    padding-bottom: 100px;

    &__list {
      grid-template-columns: 7fr 5fr;
      grid-template-rows: 1fr 1fr;
    }

    &__item {
      min-height: 240px !important;

      &:first-of-type {
        grid-column: auto;
        grid-row: span 2;
      }

      &:not(:first-of-type) {
        & .main-news__item-title {
          height: 100%;
        }
      }
    }
  }
}
