.main-about {
  padding-top: 50px;
  padding-bottom: 60px;

  &__content {
    display: grid;
    row-gap: 20px;
  }

  &__advantages {
    display: grid;
    row-gap: 20px;
  }

  @include media-min ($md) {
    padding-bottom: 80px;

    &__content {
      grid-template-columns: 1fr 1fr;
      column-gap: 30px;
    }
  }

  @include media-min ($xl) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
