.messengers {
  display: flex;
  margin: -6px;

  & > * {
    margin: 6px;
  }

  &__icon {
    width: 26px;
    height: 26px;
  }

  @include media-min ($xl) {
    &__link {
      display: flex;
      transition: transform .2s ease-in-out;

      &:hover,
      &:focus {
        transform: scale(1.15);
      }
    }
  }
}
