.about {
  padding-top: 10px;
  padding-bottom: 60px;

  &__title {
    margin-bottom: 40px;
  }

  &__media {
    margin-bottom: 50px;
    border-radius: 2px;
    overflow: hidden;
  }

  &__text-content {
    margin-bottom: 30px;
  }

  &__subtitle {
    margin-bottom: 20px;
  }

  &__text {
    & p {
      margin: 0;
    }
  }

  @include media-min ($md) {
    padding-bottom: 80px;

    &__descr {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      align-items: start;
    }

    &__text-content {
      margin-bottom: 0;
    }
  }

  @include media-min ($xl) {
    padding-top: 20px;
    padding-bottom: 100px;

    &__media {
      margin-bottom: 100px;
    }
  }
}
